@import "tailwindcss";

:root {
  --primary: #bfbfc5;
  --background-dark: #101622;
  --secondary-blue: #3f3fdd;
  --text-dark: #0e121a;
  --text-light: #edeff5;
}

@theme {
  --color-primary: var(--primary);
  --color-background-dark: var(--background-dark);
  --color-secondary-blue: var(--secondary-blue);
  --color-text-dark: var(--text-dark);
  --color-text-light: var(--text-light);
}
